<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.project2.mapper.QuestionMapper">
    <insert id="insertQuestionMessage" parameterType="QuestionMessage">
        insert into questionMessage(questionName, questionType, questionAnswer, questionLink)
        values (#{questionName}, #{questionType}, #{questionAnswer}, #{questionLink})
    </insert>

    <select id="queryQuestionMessage" resultType="QuestionMessage">
        select *
        from questionMessage
    </select>

    <select id="queryQuestionType" resultType="QuestionMessage">
        select *
        from questionMessage
        where questionType = #{questionType}
    </select>

</mapper>
